.App {
  text-align: center;
  background-color: #8f8f8f;
  height: 100%;
  color: white;
}

html {
  background-color: #8f8f8f;
}

.header-image {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.the-hoot {
  font-size: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #545454;
}

.genres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.genre {
  width: 20vw;
  height: 30vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 25px;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: white solid 5px;
  border-radius: 1000px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.genre:hover {
  background-color: #8f8f8f;
  color: #8f8f8f;
  background-size: auto;
}

.genre-logo {
  width: 50%;
}

.artist-div {
  display: flex;
  flex-wrap: wrap;
}

.artist-image {
  width: 18vw;
  height: 18vh;
  border: 5px solid black;
  border-radius: 50px;
}

.artist-image:hover {
  border: 5px solid #545454;
}

.artist-page-image {
  width: 80vw;
  border-radius: 1000px;
}
