.App {
  text-align: center;
}

.logo {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.genres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.genre {
  width: 30vw;
}

.genre-logo {
  width: 100%;
}

.artist-image {
  width: 15vw;
  border: 5px solid black;
  border-radius: 15px;
}
