.App {
  text-align: center;
  background-color: #8f8f8f;
  height: 100%;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
}

html {
  background-color: #8f8f8f;
}

.header-image {
  width: 60px;
  height: 60px;
  margin: 10px;
}

.the-hoot {
  font-size: 30px;
  font-family: 'Squada One', cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #545454;
  border-bottom: 5px solid black;
}

.guide {
  width: 50vw;
  border-radius: 50px;
  box-shadow: 10px 10px 10px black;
  background-color: #545454;
  font-size: 10px;
  height: 12vh;
  margin-bottom: 10vh;
}

.guide-text1 {
  margin-top: 50px;
  font-size: 20px;
}

.guide-text2 {
  margin-top: 20px;
  font-size: 20px;
}

.genres {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.genre {
  width: 20vw;
  height: 30vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 25px;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: white solid 5px;
  border-radius: 1000px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
}

.genre:hover {
  background-color: #8f8f8f;
  color: #8f8f8f;
  background-size: auto;
}

.genre-logo {
  width: 50%;
}

.artist-div {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.artist-image {
  width: 19vw;
  height: 22vh;
  border: 5px solid black;
  border-radius: 50px;
}

.artist-image:hover {
  border: 5px solid white;
}

.artist-card {
  margin-left: 4vw;
  margin-top: 2vw;
}

.title-name {
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
  padding: 30px;
}

.artist-page-image {
  width: 80vw;
  border-radius: 1000px;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 5vh;
}

.song-page-image {
  width: 40vw;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 5vh;
}

.song-lost {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 80vw;
  margin: auto;
  font-size: 20px;
  background-color: #545454;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 5vh;
}

.genre-info {
  width: 60vw;
  margin: auto;
  font-size: 20px;
  background-color: #545454;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
  margin-bottom: 5vh;
}

.add-info {
  width: 40vw;
  margin: auto;
  font-size: 20px;
  background-color: #545454;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.search-info {
  width: 30vw;
  margin: auto;
  font-size: 20px;
  background-color: #545454;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.song-display {
  display: flex;
  flex-wrap: wrap;
}

.song-card {
  cursor: pointer;
  margin-left: 5vw;
}

.song-image {
  width: 19vw;
}

.name {
  font-family: 'Fredoka One', cursive;
  font-size: 24px;
}

.comment-card {
  background-color: white;
  color: black;
  border: 2px solid black;
  margin-bottom: 1vh;
  width: 30vw;
}

.comment-buttons {
  background-color: #545454;
  display: flex;
  justify-content: flex-end;
  background-size: cover;
}

.comment-button {
  margin: 3px;
  color: white;
  background-color: #8f8f8f;
  cursor: pointer;
  border: 2px outset #545454;
}

.comment-button:hover {
  border: 2px inset #545454;
}

.submit-button {
  margin: 3px;
  color: white;
  background-color: #545454;
  cursor: pointer;
  border: 2px outset #8f8f8f;
}

.submit-button:hover {
  border: 2px inset #8f8f8f;
}

.comment {
  padding: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.hoot-holder {
  background-color: #545454;
  width: 30vw;
  display: flex;
  justify-content: flex-end;
}

.text-input {
  width: 30vw;
}

.search-field {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.add-redirect {
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  width: 27vw;
  display: flex;
  cursor: pointer;
  border: 2px solid black;
  margin-top: 2vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.add-redirect:hover {
  background-color: #545454;
  border: 2px inset white;
}

.center {
  display: flex;
  justify-content: center;
}

.comments-title {
  font-size: 30px;
  font-family: 'Squada One', cursive;
  text-decoration: underline;
  margin-bottom: 5vh;
}

.artist-search {
  cursor: pointer;
  margin-bottom: 5vh;
}

.song-search {
  margin-bottom: 8vh;
}

.search-artist-image {
  width: 50vw;
  box-shadow: 10px 10px 10px black;
  border-radius: 1000px;
}

.search-song-image {
  width: 30vw;
  box-shadow: 10px 10px 10px black;
}

.search-description {
  font-size: 25px;
  font-family: 'Squada One', cursive;
}
